{% extends 'layout.html' %} 
{% block body %} 

<br>
<br>

<div class="jumbotron card card-image text-white border-success" style="background-image: url(https://images.unsplash.com/photo-1587297553536-81ab7321c7a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80);height:325px">
  <div class="text-center py-5 px-4">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>What's Being Done?</strong></h1>
      <p class="mx-5 mb-5">Explore some of the ways the business community is investing its resources in a more promising future for all its stakeholders below</p>
    </div>
  </div>
</div>

<br>

<div class="card-deck">
<div class="row row-cols-1 row-cols-md-2 match-height">
  <div class="col mb-4">
    <div class="card text-center border-success mb-3">
      <img src="https://images.unsplash.com/photo-1523774294084-94691d7bb289?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80" class="card-img-top" alt="https://images.unsplash.com/photo-1523774294084-94691d7bb289?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80">
      <div class="card-body text-success">
          <h3 class="card-title"><strong>Clean Energy</strong></h3>
        <a href="/clean_energy" class="btn btn-success btn-lg">Discover What's Happening</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center border-success mb-3">
      <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="https://images.unsplash.com/photo-1573497701175-00c200fd57f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
      <div class="card-body text-success">
        <h3 class="card-title"><strong>Diversity and Inclusion</strong></h3>
        <a href="/diversity" class="btn btn-success btn-lg">Discover What's Happening</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center border-success mb-3">
      <img src="https://images.unsplash.com/photo-1567789884554-0b844b597180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="https://images.unsplash.com/photo-1584277967504-ef8a1c57f11c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
      <div class="card-body text-success">
        <h3 class="card-title"><strong>Supply Chain</strong></h3>
        <a href="/supply_chain" class="btn btn-success btn-lg">Discover What's Happening</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center border-success mb-3">
      <img src="https://images.unsplash.com/photo-1538688423619-a81d3f23454b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
      <div class="card-body text-success">
        <h3 class="card-title"><strong>Investment in Employees</strong></h3>
        <a href="/employees" class="btn btn-success btn-lg">Discover What's Happening</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row d-flex justify-content-center">
<div class="col-md-6">
    <div class="card border-success text-center mb-3">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1560472355-536de3962603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Card image">
      <div class="card-body text-success">
          <h3 class="card-title"><strong>The Industry</strong></h3>
        <p class="card-text">Discover what's happening and what current events are catching the attention of investors in the industry</p>
        <a href="/investing_news" class="btn btn-success btn-lg">Learn More</a>
      </div>
    </div>
</div>
</div>



{% endblock %}